# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

DATASET/
*.zip

# Environment variables
.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
dist/
build/
*.egg-info/

# Flask
instance/